body{
	 background-color: #6ea4aa ;
}
h1 {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	}

h3 { 
	font-family: "Lucida Console", "Courier New", monospace;
	text-align: center; 
	font-weight: bold;
}

.jumbotron { 
	background-color: #e0a091;
 }

.fireplace {display: block;
			margin-left: auto;
			margin-right: auto;
			width: 50%;
			margin-top: 0px !important;
 			}


 img { 
 	width: 100%;
 	margin-bottom:20px;
 	margin-top: 20px;  
 }
